[Desktop Entry]
Type=Application
Name=App Manager
Exec=/mnt/All/All/appstore-electron/AM-AppStore-Test/start-appstore.sh
Icon=//mnt/All/All/appstore-electron/AM-AppStore-Test/app-icon.png
StartupWMClass=App manager
Terminal=false
Categories=Utility;
