[Desktop Entry]
Type=Application
Name=App Manager
Exec=/home/moi/appstore-electron/AM-AppStore-Test/start-appstore.sh
Icon=/home/moi/appstore-electron/AM-AppStore-Test/app-icon.png
Terminal=false
Categories=Utility;
