[Desktop Entry]
Type=Application
Name=AM-GUI
Exec=/home/moi/AM-AppStore-Test/start-appstore.sh
Icon=/home/moi/AM-AppStore-Test/app-icon.png
StartupWMClass=AM-GUI
Terminal=false
Categories=Utility;
