[Desktop Entry]
Type=Application
Name=AM-GUI
Exec=/home/moi/AM-GUI/start-am-gui.sh
Icon=/home/moi/AM-GUI/app-icon.png
StartupWMClass=AM-GUI
Terminal=false
Categories=Utility;
